@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @Html.ActionLink("List of Teachers", "Index", "Teachers")<br />
    @Html.ActionLink("List of Courses", "Index", "Courses")<br />
    @Html.ActionLink("List of CourseAssignments", "Index", "CourseAssignments")
    <br />
</div>